{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<video autoplay loop muted class="video-background">
    <source src="{{ url_for('static', filename= 'videos/background.mp4') }}" type="video/mp4">
</video>

<div class="centered-container">
    <div class="login-container">
        <h2>Login</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}    
        </ul>
    {% endif %}
{% endwith %}
<form method="POST">
    Username: <input type="text" name="username" required><br>
    Password: <input type="password" name="password" required><br>
    <input type="submit" value="Login">
</form>
<p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
</div>
{% endblock %}        

